body{
    display         : flex;
    width           : 60%;
    height          : 100vh;
    flex-direction  : column;
}

h2{
    display         : flex;
    justify-content : center;
    color           : #0000ff;
}

table{
    width           : 90%;
    justify-content : center;
}

th{
    color       : rgb(92, 92, 238);
    text-align  : left;
    font-size   : 20px;
    width       : 200px;
}

.flex-center{
    display         : flex;
    justify-content : center;
}

.flex-right{
    display         : flex;
    justify-content : flex-end;
}

.div-block{
    float: center;
    width: auto;
}





.tr{
    font-size   : 18px;
}

.tdw{
    width       : 30px;
}

.box{
    border      : 0.5px solid black;
}